<% include ../partials/header %>
    <div class="page-content show">
        <div class="ui container text">

        </div>

        <div class="ui container text">
            <h2 class="ui header teal dividing center aligned">
                <%= votes.pollTitle %>
            </h2>
            <div class="ui relaxed grid container text">
              <div class="ten wide column">
                  <canvas id="chart" width="400" height="400"></canvas>
              </div>
                <div class="voting-box six wide column">
                    <h3 class="ui header violet">
                        Voting Option:
                    </h3>
                    <form class="ui form" action="/polls/<%= votes._id %>?_method=POST" method="POST">
                        <div class="grouped fields">
                            <% votes.pollItems.map(item => { %>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="item" tabindex="0"  value="<%- item._id %>">
                                        <label>
                                            <%= item.name %>
                                        </label>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <button type="submit" class="ui button teal">Vote</button>
                    </form>
                </div>
                <a href="/polls" class="ui teal button">
                    Back to the polls
                </a>
            </div>
        </div>
    </div>
    <script>
        const votes = <%- JSON.stringify(votes) %>;

        //console.log('the poll is: ', polls)

        const labelList = votes.pollItems.map(item => item.name);

        //console.log(labelList)

        const pollCount = votes.pollItems.map(item => item.count);
        var ctx = document.getElementById("chart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelList,
                datasets: [{
                    label: '# of Votes',
                    data: pollCount,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                          max: 5,
                          min: 0,
                          stepSize: 0.5
                        }
                    }]
                }
            }
        });

     $(".ui.radio.checkbox").checkbox();
    </script>

    <% include ../partials/footer %>
